meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Blank Project

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="libs/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js js/common.js -->
<script src="js/common.js"></script>
<!-- endbuild -->


<!-- build:js css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="libs/normalize-css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->


<!-- build:css css/style.css -->
<link rel="stylesheet" href="css/style.css" />
<!-- endbuild -->
    
    
    

    
